@import "tailwindcss";

:root {
  --green: #305552;
  --light-green: #63A7A2;
}

body {
  font-family: 'Inconsolata', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jaro-logo {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input:focus {
  outline: none; 
  box-shadow: inset 0px 0px 0px 1px var(--light-green);
}

button:focus, button:hover {
  outline: none;
  background-color: var(--light-green);
}

a:focus, a:hover {
  outline: none;
  color: var(--light-green);
}